# Database
spring.datasource.url= jdbc:mysql://localhost:3306/springbootdb
spring.datasource.username=userspring
spring.datasource.password=passspring

spring.jpa.hibernate.ddl-auto=create
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL5Dialect
