<!DOCTYPE html>
<html>
<head lang="en">

    <title>Spring Framework MVC</title>

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
   		 <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	</div>
	<div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Spring Framework MVC</h2>

                    <h3>Home page</h3>
                </div>
            </div>
     </div>
</body>
</html>